.vs
.vscode
Thumbs.db
*.obj
*.o
*.dll
*.so
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.~*
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sln
*.vcxproj
*.vcxproj.*
bin
__build
Makefile
*.make
src/generated_constants.c*
src/generated_constants.h*